@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.col-1 {
  /* border: 10px solid black; */
  height: 100%;
}

.Container {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.left-top {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: #7164ff;
  padding: 50px 40px;
}

.left-top .title-div {
  height: 20%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
  font-weight: bold;
}

.left-top .image-div {
  height: 80%;
  display: flex;
  justify-content: center;
}

.left-bot {
  height: 50vh;
  background-color: #6155db;
  padding: 50px 40px;
}

.left-bot .heading-div {
  height: 20%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.left-bot .image-div {
  padding: 40px 0px;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.left-bot .image-div .box {
  width: 50%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: #fff;
  justify-content: space-around;
}

.left-bot .image-div .box .icon {
  margin-bottom: 20px;
}

.col-2 {
  height: 100vh;
}

.right-top {
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 100px 30px 10px 30px;
  align-items: center;
}

.right-top .heading-div {
  font-size: 30px;
}

.right-bottom {
  background-color: whitesmoke;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  overflow-y: scroll;
}

.right-bottom .card {
  /* border: 1px solid; */
  margin-bottom: 20px;
}

.right-bottom .card .card-top {
  /* border: 1px solid; */
  display: flex;
  padding: 20px 20px;
  flex-wrap: wrap;
}

.right-bottom .card .card-top .heading-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

.right-bottom .card .card-top .arrow {
  margin-left: auto;
  padding: 10px 10px;
  cursor: pointer;
}

.right-bottom .card .card-top .square {
  height: 70px;
  width: 70px;
  background-color: orange;
}

.right-bottom .card .card-bot {
  /* border: 1px solid; */
  display: flex;
  padding: 20px 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
  .right-top {
    padding-top: 20px !important;
    height: 100px;
  }
  .left-bot {
    height: 100%;
    display: none;
  }
  .left-bot .image-div .box {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
}
